# Editor
*~
*.swp

# Testing
*.pyc
*.pyo
.mypy_cache/
*.egg-info/

# Build and release
build/
dist/
.eggs/

# Pytest verbose output
test-results/

# Coverage reports
.coverage
.coverage.*
./coverage.xml

# Environments
.env
.venv
.vscode
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/*
*.DS_Store
