# Core deps.
-r requirements.txt

# Tools for static checking.
#   - flake8-annotations is needed to avoid F811 error with overload
#     function typing with mypy.
#   - if you change versions below, please make sure it is in-sync with
#     .pre-commit-config.yaml for pre-commit.
black == 21.10b0
flake8 == 4.0.1
flake8-annotations == 2.7.0
isort == 5.10.1
seed-isort-config == 2.2.0
mypy == 0.910
pre-commit >= 2.15.0

# Tools for unit tests & coverage.
pytest == 7.0.0
pytest-cov == 3.0.0
pytest-timeout == 2.1.0
remote-pdb >= 2.1.0
parameterized >= 0.8.1

# Tools for testing docs
docutils == 0.17

# For torch.cuda.list_gpu_processes()
pynvml == 8.0.4

# For mypy typing
numpy >= 1.21

# For layerwise gradient scaler
sklearn >= 0.0
