black == 19.10b0
flake8 == 3.7.9
isort == 5.6.4
mpi4py == 3.0.3
mypy == 0.770
pytest == 5.4.1
pytest-cov == 2.10.0
pytest-mpi == 0.4
torchtext == 0.6.0
torch >= 1.5.1
torchvision >= 0.6.0
# NOTE(msb) not a dependency but needed by torch
numpy == 1.17.4
