.tutorials-header .header-logo  {
    background-image: url("../images/fairscale-logo-dark.svg");
}

.header-logo {
    background-image: url("../images/fairscale-logo.svg");
}

.footer-logo {
    background-image: url("../images/fairscale-logo-icon.svg");
}
