{%-
set external_urls = {
  'github': 'https://github.com/facebookresearch/fairscale',
  'github_issues': 'https://github.com/facebookresearch/fairscale/issues',
  'contributing': 'https://github.com/facebookresearch/fairscale/blob/main/CONTRIBUTING.md',
  'docs': 'https://fairscale.readthedocs.io/',
  'home': 'https://fairscale.readthedocs.io/',
  'get_started': 'https://github.com/facebookresearch/fairscale/blob/main/README.md',
  'brand_guidelines': 'https://pytorch.org/assets/brand-guidelines/PyTorch-Brand-Guidelines.pdf'
}
-%}
{%-
set og = {
  'description': 'API docs for FairScale. FairScale is a PyTorch extension library for high performance and large scale training.'
}
-%}
